extends layout

block content
  div(class="row")
    h1= title
    p Welcome to #{title}

  div(class="row")
    div(class="span4")
      ul(class="user-list")
        each user in users 
          li(class= "onamae " + user.name)
            =user.name
            i(class="icon-user", style="display:none")

    div(class="span8")

  a(href="/logout") logout

  input(type="hidden", id="username", value= username )

  script(src="/socket.io/socket.io.js")
  != js('index')

